body {
                        padding: 0 8%;
                        background: #17a7a7;
}

#allcontent {
                        background: #fff;
}

#header {
                        width: 100%;
                        min-height: 100px;
                        clear: both;
                        display: block;
                        border-bottom: 2px solid #a4a4a4;
                        ;
}

#menu_item {
                        width: 50%;
                        float: right;
}

ul#menu {
                        clear: both;
                        float: right;
                        list-style: none;
                        margin: 0px 10px 0 0px;

                        width: 100%;
                        /*If tab effect is not being used, this will define how long the bottom border will be*/
}

ul#menu li {
                        display: inline;
                        list-style: none;
                        min-height: 100px;
}

ul#menu li a {
                        margin-top: 65px;
                        margin-right: 5px;
                        color: #FFFFFF;
                        display: block;
                        float: left;
                        font: 14px/100% calibri, Arial, Helvetica, sans-serif;
                        line-height: 32px;
                        text-decoration: none;
                        padding: 0 10px;
                        background-color: #a4a4a4;
                        /*A basic background color is set incase the image will not load*/
                        border: 1px solid #333333;
                        border-bottom: none;
}

#main-conent {
                        clear: both;
                        display: block;
                        min-height: 950px;
}

#event {
                        height: auto;
                        min-height: 500px;
}

#event-img,
#news-img {
                        padding-top: 20px;
                        width: 40%;
                        float: left;
}

#event p,
#news p,
#event span,
#news span {
                        text-align: justify;
                        font-family: Calibri, Arial, Helvetica;
                        line-height: 1.5;
                        padding: 0 10px;
}

#news {
                        clear: both;
                        display: block;
                        margin-top: 10px;
}

#news p {
                        width: 90%;
}

#footer {
                        clear: both;
                        display: block;
                        border-top: 2px solid #a4a4a4;
                        margin-top: 20px;
                        background: #fff;
                        width: 100%;